# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/

# Next.js
.next/
out/
next-env.d.ts

# React
node_modules/
public/build

# MINE
.cursor
.repomix
bgs
.devcontainer
data/
