# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.turbo
out

# Testing
coverage
.nyc_output
visual-tests/results
visual-tests/diff

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Misc
*.pem
.cache
.parcel-cache
.vercel

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
cypress/videos
cypress/screenshots
playwright-report
test-results